* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

.site-container {
    margin: 0 auto;
    max-width: 1250px;
    height: 100%;
    // background-color: aqua;

}


@font-face {
    font-family: Proxima-Nova-Thin;
    src: url(../css/fonts/Proxima-Nova-Thin.otf);
}

@font-face {
    font-family: Proxima-Nova-Regular;
    src: url(../css/fonts/Proxima-Nova-Regular.ttf);
}

@font-face {
    font-family: ProximaNovaScOsfExtraCondensed;
    src: url(../css/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}

@font-face {
    font-family: GillSans;
    src: url(../css/fonts/GillSans.ttc);
}



