.summer {
    margin: 0 auto;
    max-width: 900px;
    min-height: 400px;
    margin-top: 40px;
    // background-color: brown;

    img {
        width: 100%;
        height: 200px;
        margin-bottom: 40px;
    }

        p {
            font-size: 25px;
            font-style: italic;
            font-family: Gillsans;
            line-height: 25px;
            text-align: center;           
        }
}